/*
	Font guidelines: https://msdn.microsoft.com/en-us/windows/desktop/hh700394
*/

body {
	background: black;
	color: white;
	scrollbar-face-color: #999;
	scrollbar-arrow-color: black;
	scrollbar-track-color: black;
	margin: 0;
	padding: 0;
	border: 1px #777 solid;
}

h1 {
	margin: 0 0 18px 0;
	font-family: "Segoe UI Light";
	text-align: left;
	font-size: 26pt;
	line-height: 42px;
}

h2 {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI Semibold";
	text-align: left;
	font-size: 14pt;
}

#sessionSwapperGuiHeader {
	height: auto;
	padding: 0;
	margin: 0 0 8px 0;
}

#sessionSwapperGuiHeader h1.title img {
	margin: 0 20px -8px 0;
}


#sessionSwapperGuiSessionListContainer {
	/* height is set via JS */
	height: 50%;
	padding: 0;
	margin: 0 0 0 0;
}

#sessionSwapperGuiSessionListContainer #sessionSwapperGuiSessionList {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	padding: 0 0 2em 4%;
	margin: 0;
	position:relative;
}

#sessionSwapperGuiSessionListContainer #sessionSwapperGuiSessionList div {
	width: 100%;
	display: block; 
	border: none;
	margin: 10px 4px 0 4px;
	cursor: pointer;
	text-align: left;
	color: #eee;
	font-family: "Segoe UI";
	font-size: 11pt;
	padding: 0.5em 0.6em;
}

#sessionSwapperGuiSessionListContainer #sessionSwapperGuiSessionList div.sessionChoice {
	background-color: black;
	border: 0.15em #000 solid;
}

#sessionSwapperGuiSessionListContainer #sessionSwapperGuiSessionList div.sessionChoice_hover {
	background-color: #555;
	border: 0.15em #888 solid;
}

#sessionSwapperGuiSessionListContainer #sessionListFadeTop {
	position: absolute;
    z-index: 100;
    height: 12%;
	width: 100%;
	left: 99999px;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

#sessionSwapperGuiSessionListContainer #sessionListFadeBottom {
	position: absolute;
    z-index: 100;
    right:0; left:0; bottom: 0;
	/* bottom is re-set via JS */
    height: 12%;
	width: 100%;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

#sessionSwapperGuiFooter {
	/* height total = 15% */
	height: 15%;
	margin: 0;
	padding: 0;
	
}

#sessionSwapperGuiFooter .footerButton {
	
}