/*
	Font guidelines: https://msdn.microsoft.com/en-us/windows/desktop/hh700394
*/

body {
	background: black;
	color: white;
	scrollbar-face-color: #999;
	scrollbar-arrow-color: black;
	scrollbar-track-color: black;
	margin: 0;
	padding: 0;
	border: 1px #373737 solid;
}

div {
	margin: 0;
	padding: 0;
}

span {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 0 0.6em 4%;
	font-family: "Segoe UI Light";
	text-align: left;
	font-size: 26pt;
	line-height: 42px;
}

h2 {
	padding: 0;
	margin: 0 0 0 4%;
	font-family: "Segoe UI Semibold";
	text-align: left;
	font-size: 14pt;
}

#sessionLauncherGuiHeader {
	height: auto;
	padding: 5% 0 0 0;
	margin: 0 0 8px 0;
	width: 100%;
}

#sessionLauncherGuiHeader h1.title img {
	margin: 0 20px -8px 0;
}

#sessionLauncherGuiHeader h2 {
	padding-top: 5%;
}

#sessionLauncherGuiSessionPrevious {
	height: 100%;
	width: 100%;
	padding: 0 6% 0 6%;
	margin: 0;
}

#sessionLauncherGuiSessionListContainer {
	/* height is updated via JS */
	height: 50%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#sessionLauncherGuiSessionListContainer #sessionLauncherGuiSessionList {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	padding: 0 2% 4em 6%;
	margin: 0;
	position:relative;
}

span.sessionChoice, span.sessionChoice_hover {
	width: 78%;
	height: 32px;
	border: none;
	margin: 4px 4px;
	cursor: pointer;
	text-align: left;
	color: #eee;
	font-family: "Segoe UI";
	font-size: 10pt;
	padding: 0px 1em;
	line-height: 32px;
}

span.sessionChoice {
	background-color: black;
}

span.sessionChoice_hover {
	background-color: #373737;
}

span.sessionChoiceBtnHidden {
	background: none;
}

span.sessionChoiceRename, span.sessionChoiceRename_hover,
span.sessionChoiceCopy, span.sessionChoiceCopy_hover,
span.sessionChoiceDelete, span.sessionChoiceDelete_hover,
span.sessionChoiceBtnHidden {
	width: 32px;
	height: 32px;
	margin-bottom: -6px;
}
span.sessionChoiceBtnHidden {background: none;}
span.sessionChoiceRename       { background: url("img/rename.png") no-repeat center center; }
span.sessionChoiceRename_hover { background: url("img/renameHover.png") no-repeat center center; }
span.sessionChoiceCopy       { background: url("img/copy.png") no-repeat center center; }
span.sessionChoiceCopy_hover { background: url("img/copyHover.png") no-repeat center center; }
span.sessionChoiceDelete       { background: url("img/delete.png") no-repeat center center; }
span.sessionChoiceDelete_hover { background: url("img/deleteHover.png") no-repeat center center; }
	
#sessionLauncherGuiSessionListContainer #sessionListFadeTop {
	position: absolute;
	z-index: 100;
	height: 15%;
	width: 100%;
	left: 99999px;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

#sessionLauncherGuiSessionListContainer #sessionListFadeBottom {
	position: absolute;
	z-index: 100;
	right:0; left:0; bottom: 0;
	/* bottom is re-set via JS */
	height: 15%;
	width: 100%;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

#sessionLauncherGuiFooter {
	/* height total = 15% */
	height: 0;
	margin: 0;
	padding: 1em 2em 2em 2em;
	
}

.button, .button_hover {
	display: inline;
	font-family: "Segoe UI";
	background-color: #373737;
	line-height: 1.8em;
	padding: 5px 22px;
}

.button {
	border: 2px #373737 solid;
}

.button_hover {
	border: 2px #999 solid;
}